# Dependencias
node_modules/
npm-debug.log*

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.local
.env.production

# Logs
logs/
*.log

# Archivos temporales
*.tmp
*.temp

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel/